.employee-list-table {
  width: 100%;
  margin-top: 10px; 
  font-size: smaller;
  font-family: Arial, sans-serif;
  border-bottom: 1px solid rgba(231, 224, 229, 0.97);
}

.employee-list-table tr th {
  background-color: rgba(231, 224, 229, 0.97);  
  text-align: left;
  padding: 10px;
  font-size: smaller;
  font-family: Arial, sans-serif;
}

.employee-list-table tbody tr td {
  padding: 10px;
  position: relative; 
}

.employee-list-table tbody tr:hover {
  background-color: rgba(207, 179, 199, 0.97);
}

.employee-list-table .employee-phone-number {
  font-weight: bold;
  font-size: .70rem;
}

.employee-list-actions-menu-button { 
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
  
.employee-list-actions-menu {    
  position: absolute;
  top: 10px;
  left: 10px;
  margin-top: 5px;
  background-color: #fff; 
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
  zIndex: 100;
  padding: 10px 0px;
}
 
.employee-list-actions-menu-container
{ 
  display: flex;
  justify-content: flex-end;
} 

.employee-list-actions-menu-item {
  padding: 8px 12px;
  cursor: pointer;
  white-space: nowrap;
};

.row {
  position: relative;
  z-index: 1;
}
  
.row.active {
  z-index: 10;
}

.employee-list-actions-menu-item:hover {
  background-color: rgba(167, 164, 243, 0.4);
  cursor: pointer;
  
}

.employee-photo-cell {
  display: flex;
  justify-content: center;
  align-items: center;   
  height: 50px;
}

.employee-photo-cell:hover {
  cursor: pointer;
  background-color: rgba(30, 38, 41, 0.4);
}

.circle-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.employee-list-header {
  display: flex;
  justify-content: flex-end;
}

.employee-list-header button {
  cursor: pointer;
}