.toolbar {
  display: flex;
  flex-direction: row; 
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.search-bar {
  gap: 0.5rem;
  display: flex;
  width: 50%;
} 

.search-bar input { 
  width: 50%;
} 

.search-bar button { 
  background-color: rgba(167, 164, 243, 0.4);
  border: 1px solid rgba(2, 2, 22, 0.4);
  padding-top: 5px;
}

.search-bar button:hover {
  background-color: rgba(207, 179, 199, 0.97);  
  cursor: pointer;
}
        
.toolbar-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: end;
  flex-direction: column;
  width: 100%; 
}

/* .toolbar-buttons button {
  background-color: rgba(167, 164, 243, 0.4);
  border: none;
  padding: 0.5rem; 
  border: 1px solid rgba(2, 2, 22, 0.4);
}

.toolbar-buttons button:hover {   
  background-color: rgba(207, 179, 199, 0.97);
  cursor: pointer;
} */
  
@media (min-width: 600px) {

  .search-bar input { 
    width: 25%;
  } 
}